<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #282C34;">
      <a class="navbar-brand" href="#">Scrap </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <form class="form-inline mt-2 mt-md-0" action="/api/products" method="GET" >
          <select class="form-control" name='sortby' id="sortby">
              <option value="none"> Default</option>
              <option value="max">Precio de Mayor a menor</option>
              <option value="min">Precio de Menor a mayor</option>
            </select>
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="key" required>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
</nav>