<div class="jumbotron mt-4">
  <h1 class="display-4">'RestApi' Scrap Yapo.cl</h1>
  <p class="lead">Buscador y scrap en yapo, entregra json con productos.</p>
  <hr class="my-4">
  <div class="d-flex justify-content-center  align-content-md-center">
    <a class="btn btn-primary btn-lg " href="https://github.com/Izzycl/scrap-api" role="button">Repositorio</a>
  </div>
  <hr class="my-4">
  <form action="/api/products" method="GET" id='s'>
    <div class="form-group row d-flex justify-content-center align-content-center">
      <div class=" align-content-md-center">
        <input type="text" name="key" id='key' class="form-control py-2" placeholder="Title" autofocus required />
        <select class="form-control" name='sortby' id="sortby" onchange='this.form.submit()'>
          <option value="none"> Default</option>
          <option value="max">Precio de Mayor a menor</option>
          <option value="min">Precio de Menor a mayor</option>
        </select>
        <button class="btn btn-primary btn-block" type="submit">
          Buscar
        </button>
      </div>

    </div>

  </form>


</div>