<div class="jumbotron mt-4">
  <h1 class="display-4">RestApi notificador de nuevo aviso en yapo.cl</h1>
  <p class="lead">La finalidad de esto es crear una api capaz de avisar cuando un nuevo producto es ingresado basado en
    una busqueda pre configurada.</p>
  <hr class="my-4">
  <p>Fase de testeo, solo se puede buscar de momento.
  </p>
  <div class="d-flex justify-content-center  align-content-md-center">
    <a class="btn btn-primary btn-lg " href="https://github.com/Izzycl/scrap-api" role="button">Repositorio</a>
    <form action="/api/products" method="GET" id='s'>
    <div class="form-group">
          <input type="text" name="key" class="form-control" placeholder="Title" autofocus required/>
          <select class="form-control" name='sortby' id="sortby" onchange='this.form.submit()'>
            <option value="none" > Default</option>
            <option value="max">Precio de Mayor a menor</option>
            <option value="min">Precio de Menor a mayor</option>
          </select>
        </div>
        <button class="btn btn-primary btn-block" type="submit">
            Save
          </button>
    </form>
  </div>


</div>